/.vscode
/hello.class
/inst for compiling.txt
/java
/jp2.class
/jp28.class
/jp28.java
/mypractial.txt
/scan.class
/scan.java
/scanner.class
/second.class
/Store.class
/sub.class
/variables.class
/variables.java